{# Load the tag library #}
{% load bootstrap3 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

<!DOCTYPE html>
<html>
<head>
    <title>大頭貼開獎系統</title>
</head>
<body>
    <div class="container">
    <h1 class="center">作業</h1>
    <h2><a href="{% url 'lottery' %}">大頭照</a></h2>
    <h2><a href="{% url 'end' %}">抽獎</a></h2>
    <h2><a href="{% url 'api' %}">API</a></h2>
    </div>
</body>
</html>