{% extends 'base.html' %}
{% block titleb %}抽獎{% endblock %}
{% block content %}
    <div class="container">
    <div>
     <form method="POST" role="form" class="form" >{% csrf_token %}
        <div class="form-group">
            <div class="col-sm-6">
                <button type="submit" class="btn btn-primary btn-block form-control" name="open" value="open">抽獎</button>
            </div>
        </div>
    </form>
    </div>
    <div>
    <form method="POST" class="form" role="form">{% csrf_token %}
        <div class="col-sm-2">
            <input type="number" class='form-control ' min="2" name="number" placeholder="請需要幾組序號">
        </div>
        <div class="col-sm-4">
            <button type="submit" class="btn btn-danger form-control btn-block" name="reset" value="reset">重新設定</button>
        </div>
    </form>
    </div>
    <div class="col-sm-12">
    {% if person %}<img src="{{ person.img }}" class="img-responsive center-block">{% elif reset %}<h1 class="text-center">已經產生新的 {{ number }} 組序號</h1>{% elif person == 0 %}<h1 class="text-center">目前無任何照片，請上傳大頭照</h1>{% else %}<h1 class="text-center">已經完成開獎</h1>{% endif %}
    </div>
    <div>
        <table class="table table-hover">
        <tr>
            <td>順序</td>
            <td>序號</td>
        </tr>
        {% for i in show %}
            <tr>
            <td>第{{ forloop.counter }}位</td>
            <td>{{ i.sn }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
    </div>
{% endblock %}